{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Companies Manager</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <h1>New Service Order</h1>
        {% bootstrap_messages%}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            {%buttons%}
            <button class="btn btn-primary" type="submit">Save</button>
            {%endbuttons %}

        </form>
    </div>
</body>

</html>